<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.pravera.flutter_foreground_task_native">

    <application>
        <receiver
            android:name="com.pravera.flutter_foreground_task_native.service.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.pravera.flutter_foreground_task_native.service.RestartReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
